In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [77]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [82]:
#print some data to confirm it loaded correctly
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [91]:
# Calculate the number of unique school names
total_schools = len(school_data_complete["school_name"].unique())
# Calculate the number of unique students (by id, in case there are same name with different id)
total_students = len(school_data_complete["Student ID"].unique())
#calculate the total budget (since it appears to be by school, I'm looking at unique 'budget' values and summing those
#after coming back around, it appears that this is budget (per student) so I've updated this
total_budget = school_data_complete["budget"].sum()
#calculate the average math score
math_average = school_data_complete["math_score"].mean()
#calculate the average reading score
reading_average = school_data_complete["reading_score"].mean()
#I need to create local evaluation of the number of math_scores >= 60
percent_passmath = len(school_data_complete.loc[school_data_complete["math_score"]>= 60, :])/391.7
#copied from the math example, but just switched to reading
percent_passreading = len(school_data_complete.loc[school_data_complete["reading_score"]>= 60, :])/391.7
#overall passing rate is the average of the math, reading passing rate
overall_passing = ((percent_passmath + percent_passreading) / 2)

In [43]:
# Place all of the data found into a summary DataFrame
district_summary = pd.DataFrame({"total_schools": total_schools,
                                  "total_students": [total_students],
                                  "total_budget": [total_budget],
                                "math_average": [math_average],
                                "reading_average": [reading_average],
                                "percent_passmath": [percent_passmath],
                                "percent_passreading": [percent_passreading],
                                  "overall_passing": [overall_passing]})
district_summary

,total_schools,total_students,total_budget,math_average,reading_average,percent_passmath,percent_passreading,overall_passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

In [108]:
#Now do the same thing - but for specific school
school_names = [school_data_complete["school_name"].unique()]
school_names

[array(['Huang High School', 'Figueroa High School', 'Shelton High School',
        'Hernandez High School', 'Griffin High School',
        'Wilson High School', 'Cabrera High School', 'Bailey High School',
        'Holden High School', 'Pena High School', 'Wright High School',
        'Rodriguez High School', 'Johnson High School', 'Ford High School',
        'Thomas High School'], dtype=object)]

In [109]:
#put the schools into an index
#schools = ['Huang High School','Figueroa High School','Shelton High School','Hernandez High School','Griffin High School','Wilson High School','Cabrera High School','Bailey High School','Holden High School','Pena High School','Wright High School','Rodriguez High School','Johnson High School','Ford High School','Thomas High School']
grouped_school_names_df = school_names.groupby(['school_name'])
print(grouped_school_names_df)

AttributeError: 'list' object has no attribute 'groupby'

In [98]:
# Using GroupBy in order to separate the data into fields according to "state" values
#grouped_usa_df = usa_ufo_df.groupby(['state'])
#the above two lines are an examples
grouped_school_data = school_data_complete.groupby(['schools'])
grouped_school_data

KeyError: 'schools'

In [94]:
#school name
#grouped_school_name = school_data_complete["school_name"].head(1)
#school type
#grouped_school_type = school_data_complete["type"].head(1)
#total students
grouped_total_students = school_data_complete["school_name"].value_counts()
#grouped_total_budget
grouped_total_budget = school_data_complete["budget"].sum()
#per student budget
#average math score
#average reading score
#percent passing math
#percent passing reading
#overall passing rate 

#grouped_total_budget

82932329558

In [96]:
# Place all of the data found into a summary DataFrame - based on the specific school
#school name df 
#school_name_df['grouped_school_name'] = ['grouped_total_students','','','','','','','','','','','','','','']
#school type df =
#total students df =

#grouped_total_budget df =
out_grouped_total_budget['grouped_total_budget'] = ['grouped_total_students["Huang High School"]','grouped_total_students["Figueroa High School"]','grouped_total_students["Shelton High School"]','grouped_total_students["Hernandez High School"]','grouped_total_students["Griffin High School"]','grouped_total_students["Wilson High School"]','grouped_total_students["Cabrera High School"]','grouped_total_students["Bailey High School"]','grouped_total_students["Holden High School"]','grouped_total_students["Pena High School"]','grouped_total_students["Wright High School"]','grouped_total_students["Rodriguez High School"]','grouped_total_students["Johnson High School"]','grouped_total_students["Ford High School"]','grouped_total_students["Thomas High School"]']
#per student budget df =
#average math score df =
#average reading score df =
#percent passing math df =
#percent passing reading df =
#overall passing rate df =
out_grouped_total_budget

NameError: name 'out_grouped_total_budget' is not defined

In [27]:
# Place all of the data found into a summary DataFrame - based on the specific school
district_summary_bySchool = pd.DataFrame({"School Name": huang_school_name,
                                  "School Name": [huang_school_name],
                                  "School Type": [huang_school_type],
                                "Total Enrollment": [enrollment],
                                "Total School Budget": [total_school_budget],
                                "Budget per Student": [budget_perstudent],
                                "School Math Avg": [huang_math_average],
                                 "School Reading Avg": [huang_reading_average],
                                 "Percent of students passing Math": [huang_percent_passmath],
                                 "Percent of students passing Reading": [huang_percent_passreading],
                                  "School Passing Rate": [huang_overall_passing]})
district_summary_bySchool

%80.39315802910392